<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=pip e, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style3.css')}}">
    <!-- boxicons link -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- remixcon link -->
    <link href="https:cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="style sheet">
    <!-- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gsatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900;&display=swap"
        rel="stylesheet">
</head>


<body>
    <header>
        <a href="#" class="'logo"> Adequate Assistance</a>
        <ul class="navlist">
            <li> <a href="#"></a>Detail </li>
            <li> <a href="#"></a>Power </li>
            <li> <a href="#"></a> Washing</li>
        </ul>
        <div class="bx bx-menu" id="menu-icon "></div>

        <h1>Adequate Assistance</h1>
        <h4>The detail you and your vehicle deserves</h4>


    </header>

    <section class="hero">
        <div class="hero-text">
            <h5>Adequate</h5>
            <h4>Assistance</h4>
            <h1>Adequate</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, soluta eos. Est sed perspiciatis
                fugiat reiciendis! Veritatis dignissimos sint facere eos incidunt culpa eligendi obcaecati? Est dolore
                quasi in molestiae.</p>
            <a href="#">Pwer</a>
            <a href="#" class="ctaa"><i class="ri-brush-fill"></i>0001000?</a>
            <a href="#">Pwer</a>
        </div>
        <div class="hero-img">
            <img src="{{url_for('static',filename='images/logo.jpeg')}}" alt="logo">

        </div>

    </section>
    <div class="icons">
        <a href="#"><i class="ri-instagram-line"></i></a>
        <a href="#"><i class="ri-youtube-line"></i></a>
        <a href="#"></a>
    </div>

    <div class="scroll-down">
        <a href="#"><i class="ri-arrow-down-s-fill"></i></a>
    </div>


    <!-- <div class="container">


        <!-- <img class="main" src="{{url_for('static',filename='images/logo.jpeg')}}" alt="logo" <div id="power"> -->
    <h1>COLORS ARE SUPPPOSED TO BE LIME GREEEN FLOURESCENT YELLOW ORANGE!</h1>
    </p> Power Washing
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quis ullam, autem id quae odit labore.
    Dicta sapiente totam alias quidem sunt dolor, natus est quos atque delectus dolore doloribus?
    <p>


        </div>
    <div class="containertwo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eveniet distinctio odio harum veniam.
            Reprehenderit consectetur nisi dolores, sit obcaecati autem architecto temporibus voluptatibus quis iure
            sunt, culpa nulla quia.</p>
        <!-- <img class="maintwo" src="{{url_for('static',filename='images/side.JPG')}}" alt="side"> -->

    </div> -->


    <!-- scrollreveal effect -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- custom js link -->
    <script src="{{url_for('static',filename='js/script.js')}}"></script>

</body>

</html>